body {
  overflow-x: hidden;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 6vw;
}

#main{
  margin-bottom: 10vh;
}

#wrapper {
  margin-top: 30vh;
  margin-left: 5vw;
}

#wrapper2{
  margin-top: 13vh;
  margin-left: 6vw;
}

.navbar {
  z-index: 999;
  background: white;
}

.nav-item{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.3vw;
  width: 9vw;
  text-align: center;
  /* padding-left: 0.75vw;
  padding-right: 0.75vw; */
}
.nav-link{
  padding-left: 2vw;
  color: #d6d4d4;
}

.nav-link:hover{
  color: #828282;
}

#resume:hover{
  color: #3b8cff;
}

h2{
  font-family: 'Lora', serif;
  font-size: 4vw;
}

#magic-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #96cdff;
}

.contact {
  display: inline-block;
  width: 3vw;
  opacity: 0.5;
}

.grid{
  width: 100vw;
}

#buttons {
  float: right;
  margin-right: 5vw;
  display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 7px;
}

.btn-light{
  background-color: white;
  border: 2px solid #dedede;
  color: #d6d4d4;
}

.btn-light:hover{
  color: black;
  border: 2px solid black;
  background-color: white;
}

.active-btn {
  background-color: #dedede;
  color: white;
}
#ptfl{
  display: inline-block;
  margin-bottom: 5vh;
}
.contact:hover{
  opacity: 1.0;
}
.icon{
  width: 2vw;
}

.current_page_item{
  color: black;
}

#resume {
  color: #66b5ff;
}

#typed{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3vw;
  margin-top: 30vh;
  color: #d6d4d4;
}

#name {
  display: inline-block;
}
.typed-cursor {
  font-size: 4vw;
  color: #d6d4d4;
}


.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('../resources/entropy.png');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('../resources/sentiment.png');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('../resources/bluebasket.png');
}

.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url('../resources/parkinsons.png');
}

.card--5 .card__img, .card--5 .card__img--hover {
    background-image: url('../resources/mv.png');
}

.card--6 .card__img, .card--6 .card__img--hover {
    background-image: url('../resources/stop-motion.png');
}

.card--6 .card__img, .card--7 .card__img--hover {
    background-image: url('../resources/wya.png');
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;

}
.card {
  margin-left: 3vw;
  margin-bottom: 5vh;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 26vw;
    height: 60vh;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

/* .card--1{
  height: 63vh;
}

.card--2{
  width: 90%;
}

.card--3{
  width: 90%;
  height: 100%;
}

.card--5 {
  margin-right: 10px;
}
.card--6 {
  margin-left: 0px;
} */

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: .8vw;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: 1.4vw;
}

.card__by {
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

.card-icon {
  width: 2vw;
  height: 2vw;
}

.link-icon {
  width: 1.5vw;
}
.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

#wrapper3{
  width: 45vw;
  display: inline-block;
  margin-left: 5vw;
}

h2{
  margin-bottom: 4vh;
}

h3{
  font-family: 'Noto Sans JP', serif;
  text-transform: uppercase;
  font-size: 2.5vh;
  color: #d6d4d4;
  margin-top: 3vh;
}

#wrapper4{
  display: inline-block;
  float: right;
  position: absolute;
}

#me{
  max-width: 70%;
  float: right;
  display: inline-block;
    margin-right: 8vw;
}

p{
  font-family: 'Noto Sans JP', serif;
  font-size: 1.2vw;
}
