body {
  overflow-x: hidden;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 6vw;
}

#main{
  margin-bottom: 10vh;
}

#card {
  margin-top: 30vh;
  margin-left: 5vw;
}

#card2{
  margin-top: 15vh;
  margin-left: 5vw;
}

.navbar {
  z-index: 999;
  background: white;
}

.nav-item{
  font-family: 'Lora', serif;
  font-size: 1.3vw;
  width: 9vw;
  text-align: center;
  /* padding-left: 0.75vw;
  padding-right: 0.75vw; */
}
.nav-link{
  padding-left: 2vw;
  color: #d6d4d4;
}

.nav-link:hover{
  color: #828282;
}
h2{
  font-family: 'Lora', serif;
  font-size: 5vw;
}

#magic-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #96cdff;
}

.contact {
  display: inline-block;
  width: 3vw;
}

.icon{
  width: 2vw;
}

.current_page_item{
  color: black;
}

#typed{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3vw;
  margin-top: 30vh;
  color: #d6d4d4;
}

#name {
  display: inline-block;
}
.typed-cursor {
  font-size: 4vw;
  color: #d6d4d4;
}
